.playGame {
  font-size: 18px;
  background-color: white;
  border: 5px solid black;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 75px;
  margin-bottom: 0;
  background-color: darkgray;
  border: 5px solid black;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.scoreDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 25px;
}

#score {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 500px;
}


#gameGrid {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 600px;
  background-color: darkgray;
  border: 5px solid black;
  margin: 10px auto;
}


h2 {
  font-size: 30px;
}

.space {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid darkgray;
  margin: 5px;
  cursor: pointer;
}

.p1 {
  background-color:olivedrab;
}

.p2{
  background-color:goldenrod;
}

button {
  background-color: darkgray;
  margin: 20px auto;
  border: 2px solid;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.introPage{
background-color: darkgray;
}

.introH1 {
  font-size: 50px;
  background-color: white;
}

.introP {
  font-size: 25px;
  width: auto;
}