body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: ;
}

.scoreDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 25px;
}

#score {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 500px;
}

#gameGrid {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 600px;
  background-color: darkgray;
  border: 5px solid black;
  margin: 10px auto;
}

.space {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid darkgray;
  margin: 5px;
  cursor: pointer;
}

#player1 {
  background-color:olivedrab;
}

#player2 {
  background-color:goldenrod;
}

button {
  background-color: darkgray;
  margin: 20px auto;
  border: 2px solid;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}